.갈색바 {
    height:26px;
    background: #3a0100;
}

.네비바 {
    height: 92px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.네비바 img {
    margin-right: 150px;
}

.네비바 button {
    width: 70px;
    height: 60px;
    background: white;
    border: 5px solid #ffb800;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.네비바 button.처음으로버튼 img {
    margin:auto;
    margin-top: 10px;
    margin-bottom: -12px;
}


.네비바 button.처음으로버튼 p {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.네비바 button.처음으로버튼 {
    border: none;
}

